<!DOCTYPE html>
<html>
<head>
<title> Crossing Boundaries in Language Teaching: Northern Ireland and Beyond</title>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<nav>
                <ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/cfp">Call for papers</a></li>
        		<li><a href="/speakers">Invited speakers</a></li>
        		<li><a href="/programme">Programme</a></li>
			<li><a href="/prac">Practical information</a></li>
      <li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:ltniconf19@gmail.com">email</a></li>
        		<li><a href="http://www.twitter.com/hashtag/LTNI19">#LTNI19</a></li>
				</ul>
                
			</footer>


</body>
</html>
